<div class="topnav-fixed">
  <div class="row">
      <div class="col-3">
      <logo>
        <div class="logo-wrapper waves-light">
          <a href="http://www.thebuffalogroup.com">
            <img src="./assets/images/TheBuffaloGroup.png" class="img-fluid flex-center image-brand">
          </a>
        </div>
      </logo>
      </div>
      <div class="col-4 mt-4">
        <mdb-item-head mdbRippleRadius>
            <i class="fa fa-diamond navbar-delp"></i></mdb-item-head>
          <mdb-navbar-brand>
              <a class="doorber-finder" routerLink="/home">Doober Finder</a>
          </mdb-navbar-brand>
        <links>
          <ul class="navbar-nav mr-auto">
            <form class="search">
              <div>
                <input type="search" placeholder="Search...">
                <button type="submit" value=""><img src="./assets/images/search.png" alt="Search"></button>
              </div>
            </form>
          </ul>
        </links>
      </div>  
      <div class="col-5" style="margin-top:145px; padding-left: 50px;">  
        <links>  
          <ul>
            <li class="nav-link waves-light" mdbRippleRadius>
              <i class="fa fa-home"></i>&nbsp;
                <a class="clearfix d-none d-sm-inline-block" routerLink="/home">Home</a>
            </li>    
            <li class="nav-link waves-light" mdbRippleRadius>
              <i class="fa fa-upload"></i>&nbsp;
                <a class="clearfix d-none d-sm-inline-block" routerLink="/upload">Upload</a>
            </li>    
            <li class="nav-link waves-light" mdbRippleRadius>
              <i class="fa fa-user"></i>&nbsp;
              <a class="clearfix d-none d-sm-inline-block">Login</a>
            </li>
            <li class="nav-link waves-light" mdbRippleRadius>
              <i class="fa fa-comments-o"></i>&nbsp;
              <a>Support</a>
            </li>    
          </ul>
        </links>    
    </div>   
  </div>
</div>
    

    