.section-upload {
    position: fixed;
    // display: flex;
    width: 100%;
    background-color: #f5f5f5;
    margin-top: 200px!important;
    padding: 10px 30px;
    z-index: 9999;
  }

  .sidebar-upload {
    position: fixed;
    width:40%;
    top: 280px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }

  .content-upload {
    margin-top: 400px!important;
    margin-left: 20px!important;
    text-align: center;
    padding: 1px 0px;
  }

  hr {
    height: 0.25px;
    width: 100%;
    color: darkgray;
    background-color: darkgray;
    margin: 0 0 10px 0;
    padding: .25px 0;
    border: none;
  }

  .checkbox {
    margin-left: 30px;
  }
  .rating-box {
    position:relative;
    vertical-align: middle;
    float: right !important;
    margin-right: 80px;
    font-size: 1.2em;
    font-family: FontAwesome;
    // display:inline-block;
    color: lighten(#1a1717, 25%);
  
    &:before{
      content: "\f006 \f006 \f006 \f006 \f006";
    }
  
    .rating {
      position: absolute;
      left:0;
      top:0;
      white-space:nowrap;
      overflow:hidden;
      color: #F68127;
      &:before {
        content: "\f005 \f005 \f005 \f005 \f005";
      }
    }
  }
