<div class="content mb-5">
  <section class="text-center pb-3">
    <div class="row mt-5">
      <mdb-card *ngFor="let item of files" class="col-3 mt-4 pt-2 mb-4">
        <mdb-card-text><h5>
            <a href='all/{{item.id}}'>{{item.name}}</a></h5>
            </mdb-card-text>
            <a href='all/{{item.id}}'>
                <img class="img-fluid" src="{{ item.filePath }}"
            /></a>
              <!-- <mdb-card-text><strong>Type:</strong> {{item.type}}</mdb-card-text>
                <mdb-card-text><strong>Tags:</strong> {{item.tags}}</mdb-card-text> -->
                <app-rating [rating]='item.rating' [itemId]='item.id' (ratingClick)='ratingComponentClick($event)'>{{item.rating}} Stars</app-rating>
                <mdb-card-text>{{item.rating}} Stars</mdb-card-text>
      </mdb-card>
    </div>
  </section>
</div>