<div class="content mt-5">
  <section class="text-center pb-3">
  <div class="row mt-5">
  <div class="col-md-3 mb-4">
      <div class="card card-image" style="background-image: url(./assets/images/afghanistan.jpg);">
        <div class="text-white text-center align-items-center pt-4 pb-2 px-4 rounded">
          <div>
            <h6 class="white-text h6-pb">
              <i class="fas fa-chart-pie"></i>
              <strong> Afghanistan</strong>
            </h6>
            <a mdbBtn color="default" size="md" rounded="true" class="waves-light" mdbWavesEffect>
              <i class="far fa-clone left"></i> Select</a>
          </div>
        </div>
      </div>
        <div class="rating-box">
		    	<div class="rating" style="width: 70%">
		    		<i class="fa fa-star"></i>
		    		<i class="fa fa-star"></i>
		    		<i class="fa fa-star"></i>
		    		<i class="fa fa-star"></i>
		    		<i class="fa fa-star"></i>
          </div>
        </div>
        <hr>
          <div class="rating-box">
            <div class="rating" style="width: 50%">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
          </div>
        </div>
    <div class="col-md-3 mb-4">
      <div class="card card-image" style="background-image: url(./assets/images/syria.jpg);">
        <div class="text-white text-center align-items-center pt-4 pb-2 px-4 rounded">
          <div>
            <h6 class="white-text h6-pb">
              <i class="far fa-eye"></i>
              <strong> Syria</strong>
            </h6>
            <a mdbBtn color="success" size="md" rounded="true" class="waves-light" mdbWavesEffect>
              <i class="far fa-clone left"></i> Select</a>
          </div>
        </div>
      </div>
      <div class="rating-box">
		    	<div class="rating" style="width: 20%">
		    		<i class="fa fa-star"></i>
		    		<i class="fa fa-star"></i>
		    		<i class="fa fa-star"></i>
		    		<i class="fa fa-star"></i>
		    		<i class="fa fa-star"></i>
		    	</div>
        </div>
        <hr>
        <div class="rating-box">
          <div class="rating" style="width: 50%">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
        </div>
    </div>
    <div class="col-md-3 mb-4">
      <div class="card card-image" style="background-image: url(./assets/images/pakistan.jpg);">
        <div class="text-white text-center align-items-center pt-4 pb-2 px-4 rounded">
          <div>
            <h6 class="white-text h6-pb">
              <i class="fas fa-chart-pie"></i>
              <strong> Pakistan</strong>
            </h6>
            <a mdbBtn color="default" size="md" rounded="true" class="waves-light" mdbWavesEffect>
              <i class="far fa-clone left"></i> Select</a>
          </div>
        </div>
      </div>
      <div class="rating-box">
		    	<div class="rating" style="width: 50%">
		    		<i class="fa fa-star"></i>
		    		<i class="fa fa-star"></i>
		    		<i class="fa fa-star"></i>
		    		<i class="fa fa-star"></i>
		    		<i class="fa fa-star"></i>
		    	</div>
			  </div>
    </div>
    <div class="col-md-3 mb-4">
      <div class="card card-image" style="background-image: url(./assets/images/iran.jpg);">
        <div class="text-white text-center align-items-center pt-4 pb-2 px-4 rounded">
          <div>
            <h6 class="white-text h6-pb">
              <i class="far fa-eye"></i>
              <strong> Iran</strong>
            </h6>
            <a mdbBtn color="success" size="md" rounded="true" class="waves-light" mdbWavesEffect>
              <i class="far fa-clone left"></i> Select</a>
          </div>
        </div>
      </div>
      <div class="rating-box">
		    	<div class="rating" style="width: 70%">
		    		<i class="fa fa-star"></i>
		    		<i class="fa fa-star"></i>
		    		<i class="fa fa-star"></i>
		    		<i class="fa fa-star"></i>
		    		<i class="fa fa-star"></i>
		    	</div>
        </div>
        <hr>
          <div class="rating-box">
            <div class="rating" style="width: 50%">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
          </div>
    </div>
  </div>
  <div class="row mt-5">
      <div class="col-md-3 mb-4">
          <div class="card card-image" style="background-image: url(./assets/images/iraq.jpg);">
            <div class="text-white text-center align-items-center pt-4 pb-2 px-4 rounded">
              <div>
                <h6 class="white-text h6-pb">
                  <i class="fas fa-chart-pie"></i>
                  <strong> Iraq</strong>
                </h6>
                <a mdbBtn color="default" size="md" rounded="true" class="waves-light" mdbWavesEffect>
                  <i class="far fa-clone left"></i> Select</a>
              </div>
            </div>
          </div>
            <div class="rating-box">
              <div class="rating" style="width: 70%">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
            </div>
            <hr>
              <div class="rating-box">
                <div class="rating" style="width: 50%">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
              </div>
            </div>
        <div class="col-md-3 mb-4">
          <div class="card card-image" style="background-image: url(./assets/images/north-korea.jpg);">
            <div class="text-white text-center align-items-center pt-4 pb-2 px-4 rounded">
              <div>
                <h6 class="white-text h6-pb">
                  <i class="far fa-eye"></i>
                  <strong> North Korea</strong>
                </h6>
                <a mdbBtn color="success" size="md" rounded="true" class="waves-light" mdbWavesEffect>
                  <i class="far fa-clone left"></i> Select</a>
              </div>
            </div>
          </div>
          <div class="rating-box">
              <div class="rating" style="width: 20%">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
            </div>
            <hr>
            <div class="rating-box">
              <div class="rating" style="width: 50%">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
          <div class="card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Nature/6-col/img%20%2873%29.jpg);">
            <div class="text-white text-center align-items-center pt-4 pb-2 px-4 rounded">
              <div>
                <h6 class="white-text h6-pb">
                  <i class="fas fa-chart-pie"></i>
                  <strong> Pakistan</strong>
                </h6>
                <a mdbBtn color="default" size="md" rounded="true" class="waves-light" mdbWavesEffect>
                  <i class="far fa-clone left"></i> Select</a>
              </div>
            </div>
          </div>
          <div class="rating-box">
              <div class="rating" style="width: 50%">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
          <div class="card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/City/6-col/img%20%2847%29.jpg);">
            <div class="text-white text-center align-items-center pt-4 pb-2 px-4 rounded">
              <div>
                <h6 class="white-text h6-pb">
                  <i class="far fa-eye"></i>
                  <strong> Iran</strong>
                </h6>
                <a mdbBtn color="success" size="md" rounded="true" class="waves-light" mdbWavesEffect>
                  <i class="far fa-clone left"></i> Select</a>
              </div>
            </div>
          </div>
          <div class="rating-box">
              <div class="rating" style="width: 70%">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
            </div>
            <hr>
              <div class="rating-box">
                <div class="rating" style="width: 50%">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
              </div>
        </div>
      </div>
      <div class="row mt-5">
          <div class="col-md-3 mb-4">
              <div class="card card-image" style="background-image: url(./assets/images/afghanistan.jpg);">
                <div class="text-white text-center align-items-center pt-4 pb-2 px-4 rounded">
                  <div>
                    <h6 class="white-text h6-pb">
                      <i class="fas fa-chart-pie"></i>
                      <strong> Afghanistan</strong>
                    </h6>
                    <a mdbBtn color="default" size="md" rounded="true" class="waves-light" mdbWavesEffect>
                      <i class="far fa-clone left"></i> Select</a>
                  </div>
                </div>
              </div>
                <div class="rating-box">
                  <div class="rating" style="width: 70%">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </div>
                </div>
                <hr>
                  <div class="rating-box">
                    <div class="rating" style="width: 50%">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                  </div>
                </div>
            <div class="col-md-3 mb-4">
              <div class="card card-image" style="background-image: url(./assets/images/syria.jpg);">
                <div class="text-white text-center align-items-center pt-4 pb-2 px-4 rounded">
                  <div>
                    <h6 class="white-text h6-pb">
                      <i class="far fa-eye"></i>
                      <strong> Syria</strong>
                    </h6>
                    <a mdbBtn color="success" size="md" rounded="true" class="waves-light" mdbWavesEffect>
                      <i class="far fa-clone left"></i> Select</a>
                  </div>
                </div>
              </div>
              <div class="rating-box">
                  <div class="rating" style="width: 20%">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </div>
                </div>
                <hr>
                <div class="rating-box">
                  <div class="rating" style="width: 50%">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </div>
                </div>
            </div>
            <div class="col-md-3 mb-4">
              <div class="card card-image" style="background-image: url(./assets/images/pakistan.jpg);">
                <div class="text-white text-center align-items-center pt-4 pb-2 px-4 rounded">
                  <div>
                    <h6 class="white-text h6-pb">
                      <i class="fas fa-chart-pie"></i>
                      <strong> Pakistan</strong>
                    </h6>
                    <a mdbBtn color="default" size="md" rounded="true" class="waves-light" mdbWavesEffect>
                      <i class="far fa-clone left"></i> Select</a>
                  </div>
                </div>
              </div>
              <div class="rating-box">
                  <div class="rating" style="width: 50%">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </div>
                </div>
            </div>
            <div class="col-md-3 mb-4">
              <div class="card card-image" style="background-image: url(./assets/images/iran.jpg);">
                <div class="text-white text-center align-items-center pt-4 pb-2 px-4 rounded">
                  <div>
                    <h6 class="white-text h6-pb">
                      <i class="far fa-eye"></i>
                      <strong> Iran</strong>
                    </h6>
                    <a mdbBtn color="success" size="md" rounded="true" class="waves-light" mdbWavesEffect>
                      <i class="far fa-clone left"></i> Select</a>
                  </div>
                </div>
              </div>
              <div class="rating-box">
                  <div class="rating" style="width: 70%">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </div>
                </div>
                <hr>
                  <div class="rating-box">
                    <div class="rating" style="width: 50%">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                  </div>
            </div>
          </div>
</section>
</div>